.banner-inner {
    background-image: url("../../assets/images/panda_bg.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 386px;
}

.wrapper-text {
    max-width: 1160px;
    margin: 0 auto;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.wrapper-text p {
    margin: 0 0 47px;
    line-height: 22px;
}

.pick .wrapper-text h2 {
    font-size: 36px;
    color: #fff;
    margin: 0 0 12px;
    text-align: left;
}

.wrapper-text h3 {
    font-weight: 400;
    font-size: 36px;
    color: #FE9013;
    line-height: 130%;
    margin: 0 0 59px;
}

.pick.donate-page {
    padding-top: 41px;
    padding-bottom: 181px;
}

.centre-text {
    text-align: center;
    margin-left: 5px;
}

.donate-animal {
    display: flex;
    justify-content: center;
    margin: 0 0 45px;
}

.donate-page .pick-section-wrapper {
    padding: 41px 92px 63px;
}

.donate-page.pick .pick-text-block h2 {
    margin-bottom: 21px;
    margin-right: 12px;
}

.donate-animal-holder {
    display: flex;
    margin-right: 11px;
}

.donate-page.pick .pick-text-block {
    margin-bottom: 18px;
}

.donate-animal_count {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    padding-top: 51px;
}

.donate-animal_count .amount {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    color: #000;
    margin: 0 0 12px;
}

.donate-animal_multiply {
    display: flex;
    align-items: center;
    margin: 26px 64px 0 0;
}

.donate-amount-range {
    color: #000;
    margin: 0 0 98px;
}

.donate-amount-range p {
    margin-bottom: 19px;
    margin-left: 4px;
}

.donate-amount_line {
    position: relative;
    height: 27px;
    width: 100%;
    background: #404950;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.donate-amount_line:after {
    content: "";
    height: 2px;
    background: #72828E;
    position: absolute;
    width: 93%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.donate-amount_line label {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    margin-top: 9px;
    z-index: 1;
    max-width: 62px;
    cursor: pointer;
}

.donate-amount_line label:focus-within,
.donate-amount_line input[type="radio"]:checked + span {
    color: #FE9013;
    cursor: default;
}

.donate-amount_line input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFEE2E;
    margin: 0 auto 20px;
    font: inherit;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    transform: translateY(-0.075em);
    cursor: pointer;
    display: grid;
    place-content: center;
}

.donate-amount_line input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

.donate-amount_line input[type="radio"]:checked::before {
    transform: scale(1);
}

.donate-amount_line input[type="radio"]:checked {
    outline: 1px solid #FE9013;
    outline-offset: max(14px, 0.15em);
    cursor: default;
}

.donate-amount_line input[type="radio"]:checked::before {
    outline: 1px solid #FE9013;
    outline-offset: max(4px, 0.15em);
}

.donate-form {
    display: grid;
    place-content: center;
    justify-items: center;
}

.donate-form input[type="number"] {
    width: 268px;
    height: 54px;
    padding: 0 8px;
    border: 1px solid #929699;
    background: transparent;
    border-radius: 2px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    margin: 0;
    cursor: pointer;
}

.donate-form input[type="number"]:focus + .currency {
    color: #4B9200;
}

.donate-form .input-holder {
    position: relative;
    margin-bottom: 27px;
}

.donate-form .currency {
    position: absolute;
    left: 247px;
    top: 16px;
    font-weight: 700;
    color: #929699;
    font-size: 20px;
}

.donate-form input[type="number"]:active,
.donate-form input[type="number"]:focus {
    outline: none;
    background-color: #ffffff;
    border-color: #4B9200;
    color: #4B9200;
}

.donate-form .form-row {
    margin-bottom: 32px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 243px;
    justify-content: space-around;
}

.form-row label {
    display: flex;

}

.donate-form input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    display: grid;
    place-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    margin-right: 10px;
}

.form-row label:hover input[type="radio"] {
    border-color: #4B9200;
}

.donate-form input[type="radio"]::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

.donate-form input[type="radio"]:checked,
.donate-form input[type="radio"]:focus {
    border-color: #4B9200;
    background-color: #4B9200;
}

.donate-form input[type="submit"] {
    width: 298px;
    height: 54px;
    font-size: 16px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 32px;
    margin-left: 7px;
}

.donate-form input[type="submit"]:hover {
    background: #E47209;
}

.donate-form input[type="submit"]:active {
    background: #4B9200;
}

.donate-form input::-webkit-outer-spin-button,
.donate-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate-form input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 1000px) {
    .donate-amount_line label {
        max-width: 31px;
    }

    .donate-amount_line label:first-child {
        display: none;
    }

    .donate-amount_line:after {
        width: 95%;
    }

    .donate-amount-range p {
        margin-left: 0;
    }

    .donate-page .pick-section-wrapper {
        padding: 20px 40px 47px;
    }

    .donate-page.pick .pick-text-block h2 {
        margin-bottom: 11px;
        margin-right: 14px;
    }

    .donate-page.pick .pick-text-block {
        text-align: center;
    }

    .donate-amount-range {
        margin: 0 25px 98px;
    }

    .pick.donate-page {
        padding-bottom: 30px;
    }

}

@media (min-width: 1000px) and (max-width: 1599px) {
    .banner-inner {
        height: 390px;
        background-image: url("../../assets/images/panda_bg-1000.jpg");
    }

    .pick .wrapper-text h2 {
        line-height: 47px;
        margin: 0 10% 29px 0;
    }

    .wrapper-text h3 {
        margin: 0 0 39px;
    }

    .donate-page.pick .pick-text-block {
        margin-bottom: 40px;
    }

}

@media (min-width: 640px) and (max-width: 999px) {
    .donate-amount_line label:nth-of-type(2),
    .donate-amount_line label:nth-of-type(3) {
        display: none;
    }

    .donate-amount_line label {
        min-width: auto;
        max-width: 81px;
    }

    .donate-page .pick-section-wrapper {
        padding: 32px 0 31px;
    }

    .donate-amount_line:after {
        width: 88%;
    }

    .donate-form input[type="number"] {
        width: 180px;
        height: 42px;
        padding: 0 5px;
    }

    .donate-form .currency {
        left: 159px;
        top: 10px;
    }

    .donate-form .input-holder {
        margin-bottom: 33px;
    }

    .donate-page.pick .pick-text-block {
        margin-bottom: 29px;
    }

    .donate-amount_line {
        text-align: center;
    }

    .pick-text-block h3 {
        font-size: 24px;
    }

    .donate-amount-range {
        margin: 0 0 98px;
    }

    .donate-animal {
        margin: 0 0 39px;
    }

    .donate-amount-range p {
        margin-left: 10px;
        margin-bottom: 8px;
    }

    .banner-inner {
        height: 335px;
        margin-top: 34px;
        background-image: url("../../assets/images/panda_bg-640.jpg");
    }

    .pick .wrapper-text h2 {
        font-size: 24px;
        line-height: 120%;
        margin: 0 0 19px;
    }

    .pick.donate-page {
        padding: 31px 20px 46px;
    }

    .wrapper-text p {
        margin: 0 0 31px;
    }

    .wrapper-text h3 {
        margin: 0 0 30px;
    }

    .donate-page.pick .pick-text-block h2 {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 25px;
        margin-right: 4px;
    }
}

@media (max-width: 639px) {
    .donate-amount_line label {
        font-size: 13px;
        margin-top: 5.5px;
    }

    .banner-inner {
        background-image: url(../../assets/images/panda_bg-320.jpg);
        height: 187px;
        margin-top: 34px;
    }

    .pick .wrapper-text h2 {
        font-size: 24px;
        margin: 0 0 20px;
    }

    .pick.donate-page {
        padding-top: 30px;
        padding-bottom: 21px;

    }

    .wrapper-text h3 {
        font-size: 24px;
        margin: 0 0 29px;
    }

    .wrapper-text p {
        margin: 0 0 29px;
    }

    .donate-animal_ico img {
        width: 160.15px;
        height: 138.72px;
    }

    .donate-page.pick .pick-text-block h2 {
        font-size: 24px;
        margin-right: 0;
    }

    .donate-page.pick .pick-text-block {
        padding: 0;
        margin-bottom: -11px;
    }

    .donate-page .pick-section-wrapper {
        padding: 20px 0 22px;
    }

    .pick-text-block h3 {
        font-size: 16px;
    }

    .donate-animal_count .amount {
        font-size: 41px;
        margin: 0 0 8px;
    }

    .donate-animal_count {
        font-size: 9px;
        margin-right: 6px;
        padding-top: 26px;
    }

    .donate-animal_multiply img {
        width: 7.89px;
        height: 7.89px;
    }

    .donate-animal_multiply {
        margin: 12px 36px 0 0px;
    }

    .donate-animal-holder {
        margin-right: 0;
    }

    .donate-animal {
        margin: 0 0 2px;
    }

    .donate-amount-range {
        margin: 0 0 48px;
    }

    .donate-amount-range p {
        margin-bottom: 9px;
    }

    .donate-amount_line {
        height: 14px;
    }

    .donate-amount_line input[type="radio"] {
        width: 5px;
        height: 5px;
        margin: 0 auto 9px;
    }

    .donate-amount_line:after {
        height: 1px;
        width: 88%;
    }

    .donate-amount_line label:nth-of-type(2),
    .donate-amount_line label:nth-of-type(3) {
        display: none;
    }

    .donate-amount_line label {
        max-width: 40px;
        text-align: center;
    }

    .donate-amount_line input[type="radio"]:checked {
        outline-offset: max(6px, 0.15em);
    }

    .donate-amount_line input[type="radio"]:checked::before {
        outline-offset: max(1px, 0.15em);
    }

    .donate-form input[type="number"] {
        width: 179px;
        height: 42px;
        padding: 0 5px;
    }

    .donate-form .currency {
        left: 159px;
        top: 10px;
    }

    .donate-form .form-row {
        margin-bottom: 29px;
    }

    .centre-text {
        margin-left: -1px;
    }
}

@media (max-width: 540px) {

}